html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: Poppins;
}

.about {
    margin: auto;
    width: 80%;
    padding-top: 40px;
}

.about__link {
    color: #0593FB;
}

.about__header {
    font-weight: 600;
    font-size: 40px;
    line-height: 56px;
}

.about__paragraph {
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
}

.about__photo {
    width: 120px;
    border-radius: 50%;
    border: 5px solid rgb(190, 190, 190);
    padding: 2px;
    margin-bottom: 30px;
}

.mail {
    display: block;
    color: #0593FB;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
}

.mail::after {
    content: "";
    display: block;
    background: #0593FB;
    margin-top: 10px;
    width: 280px;
    height: 2px;
}

.page {
    background: #171F3F;
}

.main {
    background: rgb(233, 233, 233);
    border: 16px solid #171F3F;
}

.article__description {
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
}

.article__heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
}

.footer {
    padding: 40px 140px;
}

.footer__description {
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    color: white;
}

.footer__image {
    margin-right: 5px;
}

.footer__heading {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: white;
}

.footer__heading:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: rgb(0, 140, 255);
}

.footer__link {
    color: #0593FB;
    text-decoration: none;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.footer__link:nth-child(1)::after {
    content: "";
    display: block;
    background: #CBD2D9;
    border-radius: 10px;
    height: 30px;
    width: 2px;
    margin-left: 12px;
}

.list__item {
    font-size: 18px;
    line-height: 40px;
}

.projects {
    margin-top: 60px;
    background: #F5F7FA;
    padding: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects__article {
    width: 580px;
    min-width: 300px;
    height: 320px;
    background: #FFFFFF;
    box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
    border-radius: 8px;
    padding: 50px 0 0 30px;
    margin-bottom: 20px;
    position: relative;
}

.article__footer {
    background: #F5F7FA;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.projects__heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    padding-top: 20px;
}

.projects__paragraph {
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    min-width: 300px;
}

.skills {
    margin-top: 140px;
}

.skills__section {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-top: 40px;
}

.skills__heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    padding-top: 16px;
}

.skills-section__heading {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
}

.skills-section__list {
    width: 20vw;
    height: 130px;
    display: flex;
    flex-flow: column wrap;
}

.skills__heading::after {
    content: "";
    display: block;
    width: 80vw;
    height: 3px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background: rgb(218, 218, 218);
}

.skills-section__heading:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.skills-section__heading--green:before {
    background: green;
}

.skills-section__heading--blue:before {
    background: blue;
}

.skills-section__heading--purple:before {
    background: purple;
}

.skills-section__list--blue {
    list-style-image: url(./assets/check-circle--blue.png);
}

.skills-section__list--purple {
    list-style-image: url(./assets/check-circle--purple.png);
}

.skills-section__list--green {
    list-style-image: url(./assets/check-circle--green.png);
}

@media (max-width: 640px) {
    .about {
        width: 90%;
    }
    .about__header {
        font-size: 26px;
        line-height: 36px;
    }
    .about__paragraph {
        font-size: 14px;
        line-height: 26px;
    }
    .article__description {
        margin-bottom: 50px;
    }
    .footer {
        padding: 60px 20px;
    }
    .main {
        border: 0px;
    }
    .projects {
        display: block;
        padding: 20px;
    }
    .projects__article {
        height: auto;
        width: 100%;
        padding: 10px;
    }
    .skills-section__list {
        display: block;
        height: auto;
    }
    .skills__section {
        display: block;
    }
}